body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}
 /* tous les éléments de même type */
h2 {
  font-size: 1.2em;
}

p {
  margin: auto;
}

/* footer */

.footer {
  min-width: 100%;
}

.footerInfo {
  max-width: 70%;
  margin: 0 auto;
}

p.coordonnees {
  color: #4c3025;
  text-shadow: #eae8e5 0.5px 0.5px, #eae8e5 -0.5px 0.5px, #eae8e5 0.5px -0.5px, #eae8e5 -0.5px -0.5px;
  font-size: 1.4em;
}

.infoMail {
  width: 100%;
  font-size: 0.8em;
  margin-top: -1rem;
}

a.email {
  margin: 0 auto;
}

.part2 {
  margin-top: 0;
}

.infoContact {
  font-size: 1rem;
  color: #4d3126;
  margin: 20px auto;
}

.legal {
  font-size: 0.8rem;
  margin-top: 1rem;
  border-top: 1px solid #FFF;
}

.desktop {
  display: none;
}

 /* Mise en forme des éléments dans les parallax */
.text {
  display:none;
}

table {
  word-wrap: normal;
}

td:nth-child(2) {
  text-align: center;
  width: auto;
}

td {
  border-bottom: 1px solid #FFF;
}

.lastRange {
  text-align: right;
  min-width: 100px;
}

.slide4 {
  min-width: 95%;
  margin: 0 1%;
}

.gras {
  font-weight: bold;
}

.souligne {
  text-decoration: underline;
}

/* Menu et barre de navigation */

.overlayImg {
  display: none;
}

.logoSmallSize {
  position: absolute;
  top: 1%;
  right: 5px;
}

#mobile {
  height: 100%;
  background: rgba(203,183,77,0.8);
  position: relative;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#mobileBodyContent {
  background: #f8f7f5;
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#header {
  height: 60px;
  background: #ae9c69;
}

#image {
  height: 280px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#title {
  width: 200px;
  margin: 0 auto;
  /* background: #eae8e5; */
  text-align: center;
  position: relative;
  top: -35%;
  color: #4c3025;
}

#burgerBtn {
  border-top: 2px solid #eae8e5;
  height: 25px;
  width: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  z-index: 30;
  left: 20px;
  top: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#burgerBtn:before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 30px;
  left: 0;
  background: #eae8e5;
  top: 10px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#burgerBtn:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 30px;
  left: 0;
  background: #eae8e5;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#nav {
  position: absolute;
  z-index: 10;
  list-style-type: none;
  margin: 100px 0 0 20px;
  padding: 0;
  overflow: hidden;
}
#nav li {
  min-height: 30px;
  width: 0;
  margin: 30px 0;
  background: #ae9c69;
  text-align: center;
  -webkit-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

#nav li a {
  text-decoration: none;
  color: #eae8e5;
  font-size: 1.4em;
}

#nav li + li {
  margin-left: -40px;
}
#nav li + li + li {
  margin-left: -80px;
}
#nav li + li + li + li {
  margin-left: -120px;
}

.navigation #nav li {
  width: auto;
  margin-left: 0;
}
.navigation #burgerBtn {
  border-color: transparent;
}
.navigation #burgerBtn:before {
  -webkit-transform: rotate(45deg);
  -khtml-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  width: 33px;
  left: -2px;
}
.navigation #burgerBtn:after {
  -webkit-transform: rotate(135deg);
  -khtml-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  bottom: 11px;
  width: 33px;
  left: -2px;
}

.demo1.navigation #mobileBodyContent {
  -webkit-transform: scale(0.85);
  -khtml-transform: scale(0.85);
  -ms-transform: scale(0.85);
      transform: scale(0.85);
  margin-left: 260px;
}


/* Effet Parallax */

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  width: 100%;
  padding: 0;
}
.container-fluid section {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #000;
}

#banner {
  background-image: url('../../img/15.jpg');
  background-position: center 50%;
}
.container-fluid section:nth-child(1) .image {
  background-image: url('../../img/10.jpg');
  background-position: 20% !important;
}
.container-fluid section:nth-child(2) .image {
  background-image: url('../../img/11.jpg');
}
.container-fluid section:nth-child(3) .image {
  background-image: url('../../img/12.jpg');
}
.container-fluid section:nth-child(4) .image {
  background-image: url('../../img/16.png');
  opacity: 0.6;
}
.container-fluid section:nth-child(5) .image {
  background-image: url('../../img/8.jpg');
}
.container-fluid section:nth-child(6) .image {
  background-image: url(https://images.unsplash.com/photo-1463123081488-789f998ac9c4?iq=100&fm=jpg&w=1000);
}
.container-fluid section .image {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 500;
  opacity: 0.8;
}

/*Spécial titre */
#topPage {
  color: #4c3025;
  text-shadow: #eae8e5 1px 1px, #eae8e5 -1px 1px, #eae8e5 1px -1px, #eae8e5 -1px -1px;
  font-size: 1.7em;
}

.container-fluid section .stuff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  max-width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 1000;
  color: #eae8e5;
  text-shadow: #4c3025 1px 1px, #4c3025 -1px 1px, #4c3025 1px -1px, #4c3025 -1px -1px;
  margin: 0 auto;
  position: relative;
}
.container-fluid section .stuff h2 {
  margin-bottom: 30px;
}
.container-fluid section .stuff:before, .container-fluid section .stuff:after {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #4c3025;
  content: "";
  margin: 30px 0;
}

/* Slider de comparaison */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.img-comp-container {
  position: relative;
  height: 200px;
  width: 300px;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: 40000;
}

.img-comp-img img {
  display: block;
  /*vertical-align: middle;*/
}

.img-comp-slider {
  position: absolute;
  z-index: 40001;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}

.img-comp-slider::after {
  content: "⇔";
  color: #FFF;
}

.img-comp-container {

}

.slide {
  margin: 0 auto;
}

/* Flèche pour remonter */

.goBack {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #f1c40f;
  z-index: 5000;
  height: 50px;
  width: 50px;
  background-color: orange;
  border-radius: 10%;
  text-align: center;
}

.goBack:visited {
  color: #f1c40f;
}

a, a:hover, a:focus, .address {
  color: #FFF;
  text-decoration: none;
  font-size: 1.5em;
}

@media screen and (min-width: 1000px) {
	#burgerBtn, #header {
		display: none;
	}

	#nav {
		width: 100%;
		padding:0;
		margin: 0;
		overflow: visible;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		top:0;
		left:0;
	}

	#nav li {
		width: 100%;
		margin: 0;
		-ms-flex-preferred-size: 20%;
		    flex-basis: 20%;
		background-color: #ae9c69;
	}

	#nav li + li {
  		margin-left: 0;
	}

	#nav li + li + li {
  		margin-left: 0;
	}

	#nav li + li + li + li {
  		margin-left: 0;
	}

	#nav li a {
	color: #eae8e5;
	}

  #nav li a:hover {
    background-color: #4c3025;
  }

  .text {
    display: block;
    padding: 1em 0;
  }

  .container-fluid section .stuff {
    font-size: 1.2em;
    line-height: 1.3;
    min-width: 0;

  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  #banner {
    background-image: url('../../img/14.jpg');
    background-position: center 50%;
  }

  .container-fluid section:nth-child(4) .image {
    background-image: url('../../img/13.png');
  }

  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  a.email {
    margin: auto;
  }

  .infoContact {
    margin: auto 1%;
  }

  p.legal {
    margin: 1%;
  }

  .img-comp-container {
    width: 300px;
  }

  .slide {
    margin: 0 auto;
  }

  .slide2 {
    display: flex;
    flex-direction: column;
  }

  table {
    word-wrap: normal;
  }

  td {
    text-align: left;
    width: auto;
  }

  table td:nth-child(1) {
    min-width: 250px;
  }

  .lastRange {
    text-align: right;
    min-width: 100px;
  }

  .overlayImg {
    display: block;
  }

  .logoSmallSize {
    display: none;
  }

  .slide4 {
    max-width: 70%;
  }

  .footerInfo {
    display: flex;
    max-width: 100%;
    min-width: 100%;
  }

  .part2 {
    display: none;
  }

  .desktop {
    display: block;
    margin-top: 0.9rem;
  }





}
